.footer {
  background-color: #f5f5f5;
  a {
    color: #373A3C;
  }
  &__container {
    padding: 80px 0 50px 0;
  }
  &__section {
    display: flex;
    justify-content: space-between;
    &_nav {
      margin: 0 -15px;
      flex-wrap: wrap;
    }
    &_bottom {
      padding-top: 50px;
      align-items: center;
      flex-direction: column;
    }
  }
  &__list {
    padding: 0 15px 60px 15px;
    list-style: none;
    margin: 0;
  }
  &__item {
    &:not(:last-child) {
      padding-bottom: 10px;
    }
    &_title {
      font-size: 22px;
      line-height: 1em;
      text-transform: uppercase;
      padding: 0 0 35px 0 !important;
    }
  }
  &__link {
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
      opacity: 0.8;
    }
    &_appstore {
      display: block;
      width: 218px;
      height: 75px;
      background: url('../img/icons/app-sprite.png');
      background-size: 100% auto;
      background-position: 0 100%;
      margin: 0 auto;
    }
    &_android {
      display: block;
      width: 218px;
      height: 64px;
      background: url('../img/icons/app-sprite.png');
      background-size: 100% auto;
      background-position: 0 0;
      margin: 0 auto;
    }
  }
  &__doc-list {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
  }
  &__doc-item {
    &:not(:last-child) {
      &:after {
        content: '/';
        margin: 0 4px;
      }
    }
  }
  &__doc-link {
    opacity: 0.8;
    transition: 0.3s;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}

.copy {
  opacity: 0.8;
  margin-top: 100px
}

.socials {
  &__item {
    &:not(:last-child) {
      padding-right: 48px;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__link {
    display: block;
    height: 48px;
    width: 48px;
    transition: 0.3s;
    background: url('../img/icons/socials-sprite.png');
    &:hover {
      opacity: 0.7;
    }
    &_twitter {
      background-position: -5px -63px;
    }
    &_facebook {
      background-position: -5px -5px;
    }
    &_instagram {
      background-position: -63px -5px;
    }
  }
}

@media all and(max-width: 1200px) {
  .footer__nav-item:not(:last-child) {
    padding-right: 50px;
  }
}
@media all and(max-width: 992px) {
  .footer__item_title {
    padding-bottom: 1.3em !important;
  }
  .footer__item_app {
    padding-bottom: 20px !important;
  }
  .footer__section_bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer__nav-list {
    order: 2;
    padding-top: 50px;
  }
  .footer__nav-item:not(:last-child) {
    padding-right: 20px;
  }
  .footer__section_bottom {
    padding-top: 70px;
  }
}
@media all and(max-width: 576px) {
  .footer__nav-list {
    justify-content: center;
    padding-top: 35px;
  }
  .footer__section_nav {
    justify-content: center;
    text-align: center;
  }
  .footer__list {
    flex: 1 1 50%;
  }
  .footer__nav-item {
    padding: 10px !important;
  }
  .footer__nav-item_copy {
    order: 4;
    width: 100%;
    text-align: center;
    padding: 30px 0 0 0 !important;
  }
  .footer__section_bottom {
    padding-top: 10px;
  }
  .footer__container {
    padding: 50px 0 30px 0;
  }
}