.home {
  text-align: center;
  position: relative;
  overflow: hidden;
  &__scene {
    position: absolute;
    width: calc(100%);
    height: 100%;
    bottom: 0;
    left: 0%;
    transform: translateY(100%);
    transition: transform 0.6s !important;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100%);
    height: 100%;
    background: url('../img/backgrounds/bg-home.png') no-repeat center bottom;
    background-size: contain;
  }
  &__button {
    padding: 20px 50px;
    opacity: 0;
    transform: translateY(-45px);
  }
  &__title {
    font-size: 64px;
    margin: 0;
    color: #0d2481;
    font-weight: normal;
    margin-bottom: 0.8em;
    opacity: 0;
    transform: translateY(-45px);
    line-height: 1.25;
  }
  &__container {
    padding: 150px 0 0 0;
    height: 790px;
  }
  &__icon {
    width: 130px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    opacity: 0;
    transform: translateY(-45px);
  }
  &__images {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 520px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__image {
    position: absolute;
    bottom: 2px;
    display: block;
    &_wooman {
      left: 15px;
      width: 17.75%;
      z-index: 2;
      opacity: 0;
    }
    &_man {
      right: 15px;
      width: 12.65%;
      z-index: 2;
      opacity: 0;
    }
    &_left {
      width: 20.4%;
      left: 24%;
      z-index: 1;
      opacity: 0;
      transform: translateX(-100%);
    }
    &_right {
      width: 20.4%;
      right: 24%;
      z-index: 1;
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
@media all and(max-width: 992px) {
  .home__container {
    height: 600px;
    padding-top: 80px;
  }
  .home__title {
    font-size: 50px;
  }
  .home__icon {
    margin-top: 40px;
    width: 100px;
  }
}
@media all and(max-width: 768px) {
  .home__background {
    background-size: auto 50%;
  }
}
@media all and(max-width: 576px) {
  .home__title {
    font-size: 32px;
  }
  .home__container {
    padding-top: 80px;
    height: 550px;
  }
}