@import '../styles/partials/fonts';

body {
  text-rendering: optimizeSpeed;
  font: 18px "Tahoma", sans-serif;
  min-width: 320px;
  line-height: 2;
  background-color: #fff;
  position: relative;
  color: #000;
}
p {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
.test {
  position: absolute;
  width: 100%;
  top: 30px;
  height: 100%;
  background: url('../img/images/test.jpg') no-repeat top center;
  background-size: 1920px auto;
  display: none;
}
.wrapper {
  overflow: hidden;
  padding: 130px 0 0 0;
  position: relative;
  z-index: 2;
  //opacity: 0.6;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  &_style2 {
    max-width: 1520px;
  }
}
.cover-box {
  overflow: hidden;
  display: block;
  position: relative;
  img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.wh {
  height:100%!important
}
.ww {
  width:100%!important
}
.button {
  display: inline-block;
  padding: 13px 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  transition: 0.3s !important;
  border: 0;
  cursor: pointer;
  &_style1 {
    background-color: #0d2481;
    border-radius: 34px;
    font-size: 24px;
    color: #fff;
    &:hover {
      background-color: #081a5f;
    }
  }
}
.block {
  opacity: 0;
}
.padding {
  padding: 40px 0;
}
.title {
  font-size: 48px;
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.5;
  color: #0D2481;
}
.sub-title {
  font-size: 36px;
  margin: 0 0 0.5em 0;
  font-weight: 700;
  line-height: 1.5;
  color: #0D2481;
  letter-spacing: 1px;
}
.text {
  margin: 0;
}
.input {
  background-color: transparent;
  border: 1px solid #e6e9f2;
  border-radius: 8px;
  outline: none;
  padding: 10px 20px;
  color: #000;
  transition: 0.3s;
  appearance: none;
  width: 100%;
  &:focus {
    border-color: #8591c0;
  }
  &:focus ~ svg {
    opacity: 1;
  }
  &_select {
    cursor: pointer;
  }
  &_textarea {
    resize: none;
    height: 300px;
  }
}
.label {
  color: rgba(55, 58, 60, 0.75);
  font-size: 18px;
  display: block;
  padding-bottom: 10px;
}
.form {
  &__button {
    letter-spacing: normal;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  &__group {
    &:not(:last-child) {
      padding-bottom: 40px;
    }
  }
  &__input {
    position: relative;
    svg {
      width: 24px;
      height: 12px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.3;
      transition: 0.3s;
    }
  }
  &__text {
    color: rgba(55, 58, 60, 0.75);
    font-size: 16px;
    margin: 0;
    display: block;
    padding-top: 10px;
  }
}
.upload {
  display: flex;
  padding: 10px 60px 10px 10px;
  position: relative;
  min-height: 80px;
  &__button {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    background: url('../img/icons/attachment.png') no-repeat center center;
    background-size: 75% 75%;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
    input {
      display: none;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__block {
    padding: 10px;
    color: #373a3c;
    max-width: 100%;
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      height: 40px;
      padding: 10px 20px;
      font-size: 18px;
      line-height: 20px;
      border-radius: 4px;
      background-color: rgba(13, 36, 129, 0.1);
    }
  }
}
.link-more {
  color: #0D2481;
  text-decoration: none;
  font-size: 28px;
  white-space: nowrap;
  padding-right: 1.84em;
  position: relative;
  transition: 0.3s;
  display: inline-block;
  line-height: 1.5;
  &:hover {
    opacity: 0.8;
  }
  &:after {
    content: '';
    display: block;
    height: 0.55em;
    width: 1.14em;
    background: url('../img/icons/arrow2.svg') no-repeat;
    background-size: 100% 100%;
    margin-left: 0.7em;
    position: absolute;
    right: 0;
    bottom: 0.4em;
  }
}


@media all and(max-width: 992px) {
  .wrapper {
    padding-top: 94px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 0.6em;
  }
  .sub-title {
    font-size: 26px;
  }
}
@media all and(max-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media all and(max-width: 576px) {
  .padding {
    padding: 30px 0;
  }
  .form__button {
    width: 100%;
  }
  .form__group:not(:last-child) {
    padding-bottom: 30px;
  }
  .input_textarea {
    height: 150px;
  }
}

@import "./partials/header";
@import "./partials/home";
@import "./partials/advantages";
@import "./partials/breadcrumbs";
@import "./partials/safety";
@import "./partials/faq";
@import "./partials/support";
@import "./partials/features";
@import "./partials/about";
@import "./partials/footer";

.animated {
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1 !important;
  transform: translate(0);
}