.about-block.block.padding
  .container
    .about-block__container.padding
      .about-block__row.wow.slideInLeft
        .about-block__section
          .about-block__text
            h4.title.about-block__title Meet BRiZ
            p.about-block__text BRiZ e-scooter makes a short commute across densely populated urban areas really easy, eco-friendly and extremely enjoyable. Did we mention its  also very affordable? The scooters only cost $1 to start and then 25 cents  per minute. Are you ready to take a ride?
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about1.png", alt="").lazy
      .about-block__row.wow.slideInRight
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about2.png", alt="").lazy
        .about-block__section
          .about-block__text
            h4.title.about-block__title How to start
            p.about-block__text It takes no longer than 5 minutes.
            ul.about-block__list
              li Download the app from app store.
              li Create your profile and login.
              li Enter the payment details.
              li That's it! Find an e-scooter nearby.
      .about-block__row.wow.slideInLeft
        .about-block__section
          .about-block__text
            h4.title.about-block__title How to ride
            p.about-block__text When you found the e-scooter nearby
            ul.about-block__list
              li Check the scooter's condition
              li Scan scooter’s QR code.
              li Go for a ride.
              li Park the scooter properly.
              li End the ride on the app.
              li Check details of your trip in the app.
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about3.png", alt="").lazy
      .about-block__row.wow.slideInRight
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about4.png", alt="").lazy
        .about-block__section
          .about-block__text
            h4.title.about-block__title Where to ride
            p.about-block__text Ride an e-scooter in a bike lane, or on the right-hand side of the road. Please don’t use the sidewalks unless local laws allow it. If it is allowed, please yield to pedestrians when riding on sidewalks.
      .about-block__row.wow.slideInLeft
        .about-block__section
          .about-block__text
            h4.title.about-block__title Wear a helmet
            p.about-block__text Rules and regulations considering wearing safety gear or a helmet while riding an escootervary from city to city. We at BRiZ encourage you to make sure you follow local rules, but even if it's not required by law we highly recommend always wear a helmet for your own safety.
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about5.png", alt="").lazy
      .about-block__row.wow.slideInRight
        .about-block__section.about-block__section_image
          .about-block__image
            img(data-src="img/images/about6.png", alt="").lazy
        .about-block__section
          .about-block__text
            h4.title.about-block__title Where to park
            p.about-block__text Park your scooter in a bike rack or in designated scooter parking spaces/areas that do not block the right-of-way, limit access for individuals with disabilities, risk damaging private or public property, or jeopardize public safety.
    