.advantages.block
  .container.container_style2
    .advantages__container
      .advantages-section.wow.fadeIn.padding
        .advantages-section__content
          h4.title.advantages-section__title Enjoy your ride
          p.text.advantages-section__text Enjoy your ride. We offer dock‐less e­‐scooters<br> 
            | rentals to facilitate last-­mile urban trips. We<br> 
            | are committed to providing you with a simple,<br> 
            | accessible, dependable, healthy, and green<br> 
            | way to travel.
        .advantages-section__image
          .advantages-section__scooter
            img(data-src="img/images/scooter.png", alt="").lazy
      .advantages-section.wow.fadeIn.padding
        .advantages-section__image
          .advantages-section__phone
            img(data-src="img/images/phone.png", alt="").lazy
        .advantages-section__content
          h4.title.advantages-section__title Best city solution
          p.text.advantages-section__text This is a smart, decentralized mobility<br> 
            | platform. We distribute shared electric<br> 
            | scooters that can be unlocked with a<br> 
            | smartphone. Users don’t need a key, cash,<br> 
            | physical IDs, or a deposit. After a few quick<br> 
            | steps in the app, anyone can hop on and ride.