.advantages.block.padding
  .advantages__container
    .advantages-section.padding
      .container
        .advantages-section__container.padding
          .advantages-section__content.wow.slideInLeft
            h4.title.advantages-section__title Meet BriZ!
            h5.sub-title.advantages-section__sub-title The next-­generation of e-scooters.
            p.text.advantages-section__text We offer dock‐less e­‐scooters rentals to facilitate last-­mile urban trips. Our micro-mobility solution is a simple,  accessible, dependable, healthy, and green way to travel. Enjoy your ride with BRiZ!
          .advantages-section__image.advantages-section__image_scooter.wow.slideInRight
            .advantages-section__scooter
              img(data-src="img/images/scooter.png", alt="").lazy
    .advantages-section.padding
      .container
        .advantages-section__container.padding
          .advantages-section__image.wow.slideInLeft
            .advantages-section__phone
              img(data-src="img/images/phone.png", alt="").lazy
          .advantages-section__content.wow.slideInRight
            h4.title.advantages-section__title How BRiZ works?
            .advantages-section__list
              ul
                li.advantages-section__item Download the Briz app
                li.advantages-section__item Find nearby scooters using the app map
                li.advantages-section__item Scan the QR code or enter code to unlock
                li.advantages-section__item Lock up safely when finished
            a(href="#").link-more Learn more 