mixin breadcrumbs(page)
  .breadcrumbs.block
    .container
      .breadcrumbs__container
        ul.breadcrumbs__list  
          li.breadcrumbs__item
            a(href="index.html").breadcrumbs__link Home
          li.breadcrumbs__item=page