.features.padding.block.wow.fadeInUp
  .container
    .features__container
      .features-block
        .features-block__container
          .features-block__image
            img(data-src="img/images/1.png", alt="").lazy
          span.features-block__title Escape a traffic<br> jams
      .features-block
        .features-block__container
          .features-block__image
            img(data-src="img/images/2.png", alt="").lazy
          span.features-block__title Save cash and<br> time in transit
      .features-block
        .features-block__container
          .features-block__image
            img(data-src="img/images/3.png", alt="").lazy
          span.features-block__title Reduce your<br> carbon footprint
      .features-block
        .features-block__container
          .features-block__image
            img(data-src="img/images/4.png", alt="").lazy
          span.features-block__title Enjoy smart city<br> technology