footer.footer.block
  .container
    .footer__container
      .footer__section.footer__section_nav
        ul.footer__list
          li.footer__item.footer__item_title COMPANY
          li.footer__item
            a(href="#").footer__link Our Mission
          li.footer__item
            a(href="#").footer__link About App
          li.footer__item
            a(href="#").footer__link FAQ
        ul.footer__list
          li.footer__item.footer__item_title RIDER
          li.footer__item
            a(href="#").footer__link How it works
          li.footer__item
            a(href="#").footer__link Safety
          li.footer__item
            a(href="#").footer__link Support
        ul.footer__list
          li.footer__item.footer__item_title CHARGER
          li.footer__item
            a(href="#").footer__link Become a Charger
          li.footer__item
            a(href="#").footer__link Support
        ul.footer__list
          li.footer__item.footer__item_title COMPANY
          li.footer__item.footer__item_app
            a(href="#").footer__link.footer__link_appstore
          li.footer__item
            a(href="#").footer__link.footer__link_android
      .footer__section.footer__section_bottom
        ul.footer__nav-list
          li.footer__nav-item.footer__nav-item_copy © 2019 eTransport
          li.footer__nav-item
            a(href="#").footer__nav-link Terms&Conditions
          li.footer__nav-item
            a(href="#").footer__nav-link Privacy Policy
          li.footer__nav-item
            a(href="#").footer__nav-link Rental Agreement
        .socials
          ul.socials__list
            li.socials__item
              a(href="#").socials__link.socials__link_twitter
            li.socials__item
              a(href="#").socials__link.socials__link_facebook
            li.socials__item
              a(href="#").socials__link.socials__link_instagram

