header.header
  .container
    .header__container
      .logo
        a(href="index.html").logo__link
          img(src="img/logos/logo.png", alt="").logo__image
      .mobile-button
        span
      nav.nav
        ul.nav__list.nav__list_left
          li.nav__item
            a(href="#").nav__link How it works?
          li.nav__item
            a(href="safety.html").nav__link Safety
        ul.nav__list.nav__list_right
          li.nav__item
            a(href="#").nav__link Become a Charger
          li.nav__item
            a(href="#").nav__link Region
      .overlay

