.home
  .home__scene(id='scene')
    .home__background(data-limit-x='10' data-depth='1')
  .container
    .home__container
      h1.home__title eTransport for Smart Cities
      a(href="#").button.button_style1.home__button Download App
      img(src="img/icons/map-pin.png", alt="").home__icon
      .home__images
        img(src="img/icons/woman.png", alt="").home__image.home__image_wooman
        img(src="img/icons/samokat_left.png", alt="").home__image.home__image_left
        img(src="img/icons/samokat_right.png", alt="").home__image.home__image_right
        img(src="img/icons/man.png", alt="").home__image.home__image_man

