.safety.block
  .container
    .safety__container
      .safety-section.padding.wow.fadeInRight
        .safety-section__container
          .safety-section__info
            h4.title.safety-section__title More wheels,<br> more ways
            p.text.safety-section__text Improving people’s lives with the world’s best<br> transportation calls for more than just cars<br> — that’s why we’re adding scooters to the<br> Lyft lineup.
          .safety-section__image
            img(data-src="img/images/scooter1.png", alt="").lazy
      .safety-section.padding.wow.fadeInLeft
        .safety-section__container
          .safety-section__info
            h4.title.safety-section__title Get Started
            p.text.safety-section__text When scooters are available in San Diego, they will appear in the “Nearby” section in your app. Tap the icon to reserve a scooter ahead of time. Scooters are just $1 to unlock and 15 cents per minute to ride.
          .safety-section__image
            img(data-src="img/images/scooter2.png", alt="").lazy
      .safety-section.safety-section_row.padding
        .safety-block.wow.fadeInRight
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/safety1.png", alt="").lazy
            h4.title.safety-block__title Agency Site
            p.text.safety-block__text Helmets keep you safe. Wear one. (All the cool kids are doing it.)
        .safety-block.wow.fadeInLeft
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/safety2.png", alt="").lazy
            h4.title.safety-block__title Freelance
            p.text.safety-block__text Helmets keep you safe. Wear one. (All the cool kids are doing it.)
        .safety-block.wow.fadeInRight
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/safety3.png", alt="").lazy
            h4.title.safety-block__title Ecommerce
            p.text.safety-block__text Helmets keep you safe. Wear one. (All the cool kids are doing it.)
        .safety-block.wow.fadeInLeft
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/safety4.png", alt="").lazy
            h4.title.safety-block__title Essentials
            p.text.safety-block__text Helmets keep you safe. Wear one. (All the cool kids are doing it.)

      