.safety.block
  .container
    .safety__container
      .safety__top-section.padding.wow.fadeInLeft
        h4.title #SafetyFirst
        p.safety__text Scooters are a green and modern way to get from point A to point B. But just because you're riding around on two wheels  doesn't mean you can stop paying attention. To ensure you reach your destination safely, be sure to drive carefully! Here are a few safety-related things to remember.
      .safety__content.padding
        .safety-section.wow.fadeInRight
          .safety-section__container
            .safety-section__info
              h4.title.safety-section__title Safety tips
              ul.safety-section__list
                li.safety-section__item Meet the minimum age to ride an e-scooter in your city.
                li.safety-section__item Make sure an e-scooter is in topnotch shape before riding.
                li.safety-section__item Ride solo. e-scooter is built to only support one at a time.
                li.safety-section__item Wear a helmet (not required, but highly recommended).
                li.safety-section__item Ride with courtesy, respect, and caution.
            .safety-section__image.cover-box
              img(data-src="img/images/icon_info.jpg", alt="").lazy
        .safety-section.wow.fadeInLeft
          .safety-section__container
            .safety-section__info
              h4.title.safety-section__title Scooting on roads
              ul.safety-section__list
                li.safety-section__item Follow the traffic rules. Obey traffic signs and signals.
                li.safety-section__item Ride an e-scooter in a bike lane, or on the right-hand side of the road (Some cities allow sidewalk riding).
                li.safety-section__item Park the scooter in bike racks or other lawful spots.
            .safety-section__image.cover-box
              img(data-src="img/images/icon_sign-99.jpg", alt="").lazy
      .safety-section.safety-section_row.padding
        .safety-block.wow.fadeInRight
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/B-icon-4.png", alt="").lazy
            h4.title.safety-block__title Don't drink and scoot
            p.text.safety-block__text Scooting while drunk is a<br> dangerous  and lame way to<br> get a DUI. Don’t’  take<br> unnecessary risks!
        .safety-block.wow.fadeInLeft
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/B-icon-6.png", alt="").lazy
            h4.title.safety-block__title Helmet Safety
            p.text.safety-block__text We encourage you to always<br> wear a helmet. Helmet is<br> your cheapest life<br> insurance!
        .safety-block.wow.fadeInRight
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/B-icon-5.png", alt="").lazy
            h4.title.safety-block__title Avoid distracted driving
            p.text.safety-block__text We encourage you putting down<br> the phone for texts, calls, and<br> checking your email,<br> while driving.
        .safety-block.wow.fadeInLeft
          .safety-block__container
            .safety-block__image
              img(data-src="img/images/B-icon-3.png", alt="").lazy
            h4.title.safety-block__title Speed limits
            p.text.safety-block__text Be aware, some cities have<br> speed limits for e-scooters.<br> Stay within a safe range<br> of speed.

      