.support.block.padding
  .container
    .support__container
      h4.title.support__title Get in touch with Briz
      form(action="").support__form.form
        .form__group
          span.label Your email address
          .form__input
            input(type="email" required).input
        .form__group
          span.label Phone number
          .form__input
            input(type="text" required).input
        .form__group
          span.label City
          .form__input
            select(required).input.input_select
              option(value="") Moscow
              option(value="") Moscow
              option(value="") Moscow
              option(value="") Moscow
            <svg viewBox="0 0 31 18"><defs><path id="5k3ka" d="M1511.73 767.373l14 14 14-14"/></defs><g><g transform="translate(-1510 -766)"><use fill="#fff" fill-opacity="0" stroke="#0d2481" stroke-miterlimit="50" stroke-width="4" xlink:href="#5k3ka"/></g></g></svg>
        .form__group
          span.label Vehicle type
          .form__input
            select(required).input.input_select
              option(value="") value
              option(value="") value
              option(value="") value
              option(value="") value
            <svg viewBox="0 0 31 18"><defs><path id="5k3ka" d="M1511.73 767.373l14 14 14-14"/></defs><g><g transform="translate(-1510 -766)"><use fill="#fff" fill-opacity="0" stroke="#0d2481" stroke-miterlimit="50" stroke-width="4" xlink:href="#5k3ka"/></g></g></svg>
        .form__group
          span.label What is your inquiry about?
          .form__input
            select(required).input.input_select
              option(value="") value
              option(value="") value
              option(value="") value
              option(value="") value
            <svg viewBox="0 0 31 18"><defs><path id="5k3ka" d="M1511.73 767.373l14 14 14-14"/></defs><g><g transform="translate(-1510 -766)"><use fill="#fff" fill-opacity="0" stroke="#0d2481" stroke-miterlimit="50" stroke-width="4" xlink:href="#5k3ka"/></g></g></svg>
        .form__group
          span.label Subject
          .form__input
            input(type="text" required).input
        .form__group
          span.label Subject
          .form__input
            textarea(required).input.input_textarea
          p.form__text Please enter the details of your request. A member of our support staff will respond as soon as possible.
        .form__group
          span.label Attachments
          .upload.input
            .upload__container
            label.upload__button
              input(type="file" multiple).upload__input
        .form__group
          button.button.button_style1.form__button Submit
        
        